h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
    font-size: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
}

body {
    background-image: url("../background.png");
    background-position: bottom;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    color: #151515;
}

rect {
    stroke: #000;
    stroke-width: 1px;
    border-radius: 3px;
}

text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    fill: #151515;
}

#controls {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    display: inline-block;
    float: right;
    margin-right: 4em;
    display: none;
}

#title-image{
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 3em;
    padding-bottom: 1em;
    width: 400px;
    height: auto;
}

.node {
    fill: #fff;
}

.input-node {
    opacity:0;
}

.input-node.active-node {
    opacity:0.9;
}

.link {
    stroke: #000;
    stroke-width: 4px;
    opacity: 0.7;
}

.node-label {
    font-family: sans-serif;
    font-size: 0.75em;
    font-weight: 700;
    fill: #333;
}

.link-label {
    font-family: sans-serif;
    font-size: 0.75em;
    fill: #333;
}

.inactive-link {
    animation: none;
}

.active-link {
    stroke-dasharray: 200;
    animation: dash 3s linear infinite;
    opacity: 1.0;
}

.type-goomba {
    stroke: #aa7243;
}

.type-tile {
    stroke: #3bae53;
}

.output-node {
    stroke: #000000;
}

.hidden-node {
    stroke: #000000;
}

.active-node {
    stroke: #ff0000 !important;
    fill: #ff0000 !important;
    animation: pulse 1s ease infinite;
    transform-origin:50%;
}

@keyframes dash {
    to{
        stroke-dashoffset: -1200;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        stroke-width:1;
        opacity:1;
    }

    50% {
        opacity:1;
    }

    100% {
        transform: scale(2.5);
        stroke-width:0.25;
        opacity:0;
    }
}