h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
}

.rect {
	fill: #222;
}

.node {
    fill: #fff;
}

.input-node {
    opacity:0;
}

.input-node.active-node {
    opacity:0.2;
}

.link {
    stroke: #000;
    stroke-width: 2px;
    opacity: 0.2;
}

.node-label {
    font-family: sans-serif;
}

.link-label {
    font-family: sans-serif;
}

.active-link {
    stroke-dasharray: 200;
    animation: dash 3s linear infinite;
    opacity: 0.4;
}

.type-goomba {
    stroke: #aa7243;
}

.type-tile {
    stroke: #00cc00;
}

.output-node {
    stroke: #000000;
}

.hidden-node {
    stroke: #000000;
}

.active-node {
    stroke: #ff0000 !important;
    fill: #ff0000 !important;
    animation: pulse 1s ease infinite;
    transform-origin:50%;
}

@keyframes dash {
    to{
        stroke-dashoffset: -1200;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        stroke-width:1;
        opacity:1;
    }

    50% {
        opacity:1;
    }

    100% {
        transform: scale(2.5);
        stroke-width:0.25;
        opacity:0;
    }
}